*~
*.log
ac-comphist.dat
auto-save-list
eshell
elpa
tramp
url

.mc-lists.el
*.elc
.python-environments
.cask

.yas-compiled-snippets.el
bookmarks
cider-history
recentf
projectile-bookmarks.eld
projectile.cache
var

company-statistics-cache.el
emms
games
image-dired
irony
savehist
